#prescriptionFinal .container {
	background-color: #fff !important;
  }
  .header p {
	font-size: 14px;
  }
  .aside {
	width: 400px;
	border-right: 1px solid #ddd;
	min-height: 600px;
	padding-bottom: 20px;
  }
  
  .signatureImage {
	display: inline-block;
	width: 100px;
	object-fit: contain;
	margin-bottom: 5px;
  }
  .signatureBox {
	position: absolute;
	right: 50px;
	bottom: 30px;
  }
  .footer {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #ddd;
  }
  
  .footer p {
	font-size: 14px;
  }
  .apiLogo {
	max-width: 40px;
	transform: translateY(-4px);
	margin-left: 5px;
  }
  .logoText {
	font-size: 14px;
  }
  .nextinfo {
	margin-top: 50px;
  }
  
  @media (max-width: 767px) {
	#prescriptionFinal,
	.logoText,
	address p,
	.header p,
	.pres_item p,
	.medicine p {
	  font-size: 12px !important;
	}
	.header h4 {
	  font-size: 18px !important;
	}
  }
  