.settingItem{
    padding: 50px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
}

.item{
    max-width: 900px;
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: #fff;
}






























