@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&amp;display=swap");
/* for font-awesome  */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.d-none {
  display: none;
}

:root {
  --r: 48;
  --g: 26;
  --b: 154;
  --x: 0.41;
  --y: 0.21;
  --main-color-rgba: rgba(var(--r), var(--g), var(--b), var(--x));
  --main-color-rgba-2: rgba(var(--r), var(--g), var(--b), var(--y));
  --main-color: #301a9a;
  --main-text-color: #333333;
  --main-highlight: #dd0213;
  --main-hover-color: #1fbc2c;
}

body {
  background-image: linear-gradient(
    to left bottom,
    #f7ecf0,
    #f2e6ed,
    #ebe0ec,
    #e2dbea,
    #d8d6e9,
    #d6d7ea,
    #d3d9eb,
    #d1daec,
    #d9e1f0,
    #e1e8f3,
    #eaeff7,
    #f3f6fa
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-size: 14px;
  font-family: "Poppins", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea {
  font-family: "Poppins", sans-serif !important;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  font-size: 14px;
  font-family: "Poppins", sans-serif !important;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif !important;
}
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-19 {
  font-size: 19px;
}
.font-20 {
  font-size: 20px;
}
.font-21 {
  font-size: 21px;
}
.font-22 {
  font-size: 22px;
}
.font-23 {
  font-size: 23px;
}
.font-24 {
  font-size: 24px;
}
.font-25 {
  font-size: 25px;
}
.font-26 {
  font-size: 26px;
}
.font-27 {
  font-size: 27px;
}
.font-28 {
  font-size: 28px;
}
.font-29 {
  font-size: 29px;
}
.font-30 {
  font-size: 30px;
}
.font-31 {
  font-size: 31px;
}
.font-32 {
  font-size: 32px;
}
.font-40 {
  font-size: 40px;
}
.left-padding {
  padding-left: 30px !important;
}
.button-color {
  background-color: #301a9a;
}
.button-dark {
  background-color: #777;
  transition: all 0.3s;
}
.button-dark:hover {
  background-color: var(--main-color);
}
/* add button start */
.add-button {
  background-color: #301a9a;
  padding: 6px 12px;
  color: white;
  transition: all 0.2s ease-in-out;
}
.add-button:hover {
  background-color: #2f1a9ad2;
  color: white;
}
.add-button-padding {
  padding: 8px 16px;
}

.button-bg {
  background-color: #666;
}

/* add button end */

.banner-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* title start*/
.titleBox {
  overflow: hidden;
}
.section-line {
  display: inline-block;
  margin: 0;
  line-height: 20px;
  position: relative;
  font-size: 22px;
  color: #333;
}

.section-line::after {
  content: "";
  display: inline-block;
  width: 100vw;
  height: 1px;
  /* background-color: #aaa; */
  background-image: linear-gradient(
    to right,
    #d3b0b0,
    #d3b0b0,
    #d3b0b0,
    #9fb4f3,
    #9fb4f3,
    #9fb4f3,
    #9fb4f3
  );
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% + 2px);
  left: calc(100% + 20px);
}

/* sectionTitle 2 */
.sectionTitle {
  color: #444;
  font-weight: 600;
}
/* title End*/

/* section-banner-height */
.section-banner-height {
  max-height: 150px;
  object-fit: cover;
}
/* section-banner-height */

/* banner header start */
.banner-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 100%;
}
/* banner header end */

/* accordion css start  */
.accordion-item .accordion-button {
  border-radius: 5px !important;
  padding: 13px 30px;
  font-size: 14px;
}
.accordion-button:not(.collapsed) {
  background-color: var(--main-color);
  color: #fff;
  box-shadow: none;
}
.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.accordion-button::after {
  -webkit-transform: scale(0.8) !important;
  transform: scale(0.8) !important;
}
.accordion-button:not(.collapsed)::after {
  -webkit-filter: brightness(0) invert(1) !important;
  filter: brightness(0) invert(1) !important;
  -webkit-transform: scale(0.8) rotate(180deg) !important;
  transform: scale(0.8) rotate(180deg) !important;
}
.modal-header {
  background-color: #444;
}
.input-shadow {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 15px 0px;
}
.input-padding {
  padding: 13px 20px !important;
  box-shadow: none !important ;
}
/* accordion css end  */

/* Jiaur extra css start here  */
.inputBox {
  padding: 13px 20px !important;
  font-size: 14px;
}
.cancer-screen {
  padding: 13px 0px !important;
  padding-left: 15px !important;
}
/* input[type=number] { 
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 15px 0px !important;
} */
/* input[type=text] { 
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 15px 0px !important;
} */
/* select { 
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 15px 0px !important;
} */
::placeholder {
  color: #aaa !important;
}

.form-select {
  background-position: right 1.5rem center !important;
}

kbd {
  background-color: #c0c0c0;
  color: #000;
}
.form-label {
  font-weight: 500;
  color: #333;
}

.iputComon {
  display: inline-block;
  position: absolute;
  bottom: 8px;
  right: 10px;
  padding: 5px 10px;
  border-left: 1px solid #aaa;
}

.btn-close {
  filter: brightness(0) invert(1);
}
.form-control:focus {
  border-color: #aaa !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}
.form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
  border-color: transparent !important;
}

.form-select {
  border-color: transparent !important;
}
.modal-content {
  background-color: #eee;
  padding-bottom: 10px;
}

.healthText {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #ccc;
}
.healthText p {
  display: inline-block;
  font-size: 16px;
}
.previewBtn{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.previewBtn>a{
  background-color: #999;
}
/* Jiaur extra css end here  */

/* responsive css start here  */
@media (min-width: 992px) {
  .topHeading {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .healthText {
    max-width: 900px;
    margin: auto;
  }

  #deshboard #globalButton {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 991px) {
  #deshboard {
    display: initial !important;
    align-items: initial !important;
    justify-content: initial !important;
    background: transparent !important;
  }
  #deshboard .row {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .healthText p {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  #deshboard .buttonBox {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 500px) {
  #deshboard .col-sm-6 {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .banner-header h1 {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  #PrescriptionFinal.container {
    max-width: 97% !important;
  }
  .export.container {
    max-width: 97% !important;
  }
}

/* CSS SweetAlert2 start here */
div:where(.swal2-container) div:where(.swal2-popup) {
  width: 360px !important;
  border-radius: 15px !important;
}

div:where(.swal2-icon) {
  margin-top: 15px !important;
  transform: scale(0.8) !important;
}
.swal2-title {
  padding-top: 0px !important;
  font-size: 22px !important;
}
.swal2-html-container {
  margin-top: 5px !important;
}
.swal2-actions {
  margin-top: 5px !important;
}
/* CSS SweetAlert2 end here  */

/* date piker  */
@media (max-width: 767px) {
  .dateIcon {
    background-image: url(./../img/calendar.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: center;
    position: relative;
  }
  /* .dateIcon::after{
    content: 'dd/mm/yyy';
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  .dateIcon:focus::after {
    display: none;
  } */
}

.error-input{
  border: 2px solid red !important;
}


