.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.app input[type=text]{
  box-shadow: none !important;
}

.app ::placeholder {
	color: #ccc !important;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

.loginForm {
  max-width: 450px;
  width: 100%;
  border-radius: 15px;
  padding: 40px 60px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

@media (max-width: 767px) {
  .loginForm {
    max-width: 430px;
    padding: 40px 40px;
  }
}

.login-btn{
  border-radius: 100px;
  background-color: var(--main-color);
}
.login-btn-bg:hover{
  background-color: var(--main-hover-color);
}
.error {
  padding-top: 5px;
  padding-left: 15px;
  color: red;
  font-size: 12px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input{
  border-radius: 100px;
}
.input-container .form-control:focus{
  box-shadow: none !important;
  border-color: #aaa !important;
}

.logo-size{
  height: 90px;
  width: 90px;
  object-fit: contain;
}

.apilogo-position{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: -1;
}

.api-logo{
  width: 40px;
  height: auto;
  margin-top: -7px !important;
}


